---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/nav/Dropdown.astro";
import Card from "../components/Card.astro";
---

<Layout title=" British Jewish">
  <section class="text-center bg-teal-200">
    <h1
      class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl"
    >
      <div class="h-10 w-14 inline-block">
        <img
          src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1638864273/webp/uk-flag.webp"
          alt="image of British flag"
        />
      </div>
      <div class="h-10 w-14 inline-block">
        <img
          src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1639135750/webp/star.webp"
          alt="image of star of david"
        />
      </div>
      British Jewish Family History Resourses
    </h1>
    <br />

    <section class="bg-teal-200">
      <main>
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/35FcicR"
            title="British Jewry"
            body="Search the database."
          />
          <Card
            href="https://bit.ly/3Gy8NSx"
            title="Jewish Chronicle"
            body="Search original version of the JC from 1841 to present day."
          />
          <Card
            href="https://bit.ly/3rO9eBW"
            title="Commercial Directory"
            body="Commercial Directory of Jewish business United Kingdom 1894."
          />
          <Card
            href="http://bit.ly/2GflEtg"
            title="J.C.R"
            body="Database of Jewish record's in the United Kingdom."
          />
          <Card
            href="https://bit.ly/2KBEaAC"
            title="J.F.S"
            body="Search Jewish Free School database 1856 to 1907."
          />
          <Card
            href="http://bit.ly/2wC1AS8"
            title="Marriage"
            body="Marriage Authorisation Records 1880 to 1922."
          />
          <Card
            href="http://bit.ly/320z8W1"
            title="Roll Of Honour"
            body="Jewish book of Honour list all Jews who served during the first world war."
          />
          <Card
            href="https://bit.ly/2YPZDjz"
            title="Roots"
            body="British Sephardic Jewish family history."
          />
          <Card
            href="https://bit.ly/3nE0A5A"
            title="First World War"
            body="British Jews in the first world war."
          />
          <Card
            href="http://bit.ly/2WLa4AD"
            title="Scribes"
            body="Search the database of headstone inscriptions from Jewish cemeteries throughout the UK."
          />
          <Card
            href="https://bit.ly/3EdYmmK"
            title="Second world war"
            body="Remembering The Jews who died in the second world war."
          />
          <Card
            href="https://bit.ly/2L20OFC"
            title="Synagogue"
            body="Search the database of Ashkenazi Synagogue records 1791 to 1860."
          />
          <Card
            href="https://bit.ly/2KBFjIq"
            title="Pre 1850 Community"
            body="The London Jewish database pre 1850."
          />
          <Card
            href="https://bit.ly/3f0oGUE"
            title="1851 Community"
            body="1851 Anglo Jewry database."
          />
        </ul>
        <br/>
        <h2 class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl">
          <div>Leeds Jewish Family History Resourses</div>
        </h2>
        <br />
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3gb8zp7"
            title="Leeds"
            body="Search the all Leeds database."
          />
        </ul>
        <br />
        <h3 class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl">
          <div>Leicester Jewish Family History Resourses</div>
        </h3>
        <br />
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/2Wx3H7B"
            title="Gilroes Cemetery"
            body="Search the burial records Gilroes Cemetery Leicester."
          />
        </ul>
        <br />
        
        <h3 class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl">
          <div>Southend & Westcliff Jewish Family History Resourses</div>
        </h3>
        <br />
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3E5f5HN"
            title="Southend Cemetery"
            body="Search the burial records Stock Road."
          />
        </ul>
        <br />
        <br />
        <h2 class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl">
          <div class="h-10 w-14 inline-block">
            <img
              src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1638878880/webp/scotish-flag.webp"
              alt="image of Scottish flag"
            />
          </div>
          <div class="h-10 w-14 inline-block">
            <img
              src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1639135750/webp/star.webp"
              alt="image of star of david"
            />
          </div>
          Scottish Jewish Family History Resourses
        </h2>
        <br />
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3d0EUyK"
            title="Jewish Scotland"
            body="Jewish Scottish family history."
          />
          <Card
            href="https://bit.ly/3dj94xt"
            title="Burial Society"
            body="Search Scotlands Jewish burial records."
          />
        </ul>
        <br />
        <br />
        <h2 class="ml-8 mt-3 text-center text-purple-500 text-font-sans text-4xl">
          London Jewish Cemeteries burial records
        </h2>
        <br />
        <br />
        <table class="table-auto overflow-auto text-left">
          <thead>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="https://bit.ly/3kzte6h" target="_blank">
              Adath Yisroel
            </a>
      
            <br />
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="https://bit.ly/2xv1ycu" target="_blank">
              Burial Records
            </a>
      
            <tr>
              <th class="px-4 py-2">Cemetery</th>
              <th class="px-4 py-2">Address</th>
              <th class="px-4 py-2">Year Opened</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Cheshunt</td>
              <td class="border px-4 py-2">Silver Street</td>
              <td class="border px-4 py-2">1964</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Enfield</td>
              <td class="border px-4 py-2">Carterhatch Lane</td>
              <td class="border px-4 py-2">1927</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
        <table class="table-auto overflow-auto text-left">
          <thead>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2YzvgsJ" target="_blank">
              Federation
            </a>
            <br />
      
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2xv58mW" target="_blank">
              Burial Records
            </a>
      
            <tr>
              <th class="px-4 py-2">Cemetery</th>
              <th class="px-4 py-2">Address</th>
              <th class="px-4 py-2">Year Opened</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Edgware</td>
              <td class="border px-4 py-2">Edgwarebury Lane</td>
              <td class="border px-4 py-2">under construction</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Edmonton</td>
              <td class="border px-4 py-2">Montague Road</td>
              <td class="border px-4 py-2">1890</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Rainham</td>
              <td class="border px-4 py-2">Upminster Road North</td>
              <td class="border px-4 py-2">1938</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
        <table class="table-auto overflow-auto text-left">
          <thead>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2XNH7GE" target="_blank">
              Liberal
            </a>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2L4my2E" target="_blank">
               Progressive
            </a>
      
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2NC57sb" target="_blank">
              Reform
            </a>
      
            <br />
      
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2JvmRAc" target="_blank">
              Burial Records
            </a>
      
            <tr>
              <th class="px-4 py-2">Cemetery</th>
              <th class="px-4 py-2">Address</th>
              <th class="px-4 py-2">Year Opened</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Edgwarebury</td>
              <td class="border px-4 py-2">Edgwarebury Lane</td>
              <td class="border px-4 py-2">1972</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Golders Green</td>
              <td class="border px-4 py-2">Hoop Lane</td>
              <td class="border px-4 py-2">1897</td>
            </tr>
      
            <tr>
              <td class="border px-4 py-2">Willesden</td>
              <td class="border px-4 py-2">Pound Lane</td>
              <td class="border px-4 py-2">1914</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
        <table class="table-auto overflow-auto text-left">
          <thead>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/32festd" target="_blank">
              United
            </a>
      
            <br />
      
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="http://bit.ly/2JfWwHn" target="_blank">
              Burial Records
            </a>
      
            <tr>
              <th class="px-4 py-2">Cemetery</th>
              <th class="px-4 py-2">Address</th>
              <th class="px-4 py-2">Year Opened</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Alderney</td>
              <td class="border px-4 py-2">Alderny Road</td>
              <td class="border px-4 py-2">1697</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Aldershot</td>
              <td class="border px-4 py-2">Redan Road</td>
              <td class="border px-4 py-2">1864</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Brady</td>
              <td class="border px-4 py-2">Brady Street</td>
              <td class="border px-4 py-2">1761</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Bushey</td>
              <td class="border px-4 py-2">Little Bushey Lane</td>
              <td class="border px-4 py-2">1947</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Dover</td>
              <td class="border px-4 py-2">Old Charlton Road</td>
              <td class="border px-4 py-2">1868</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">East Ham</td>
              <td class="border px-4 py-2">Marlow Road</td>
              <td class="border px-4 py-2">1919</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Eretz Hachaim</td>
              <td class="border px-4 py-2">Jerusalem</td>
              <td class="border px-4 py-2" />
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Hackney</td>
              <td class="border px-4 py-2">Lauriston Road</td>
              <td class="border px-4 py-2">1788</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Plashet</td>
              <td class="border px-4 py-2">High Street North</td>
              <td class="border px-4 py-2">1896</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Sheffield</td>
              <td class="border px-4 py-2">Colley Road</td>
              <td class="border px-4 py-2">1931</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Waltham Abbey</td>
              <td class="border px-4 py-2">Skillet Hill Honey Lane</td>
              <td class="border px-4 py-2">1960</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">West Ham</td>
              <td class="border px-4 py-2">Buckingham Road</td>
              <td class="border px-4 py-2">1857</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Willesden</td>
              <td class="border px-4 py-2">Beaconsfield Road</td>
              <td class="border px-4 py-2">1873</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
        <table class="table-auto overflow-auto text-left">
          <thead>
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="https://bit.ly/3nxSFXO" target="_blank">
              Western
            </a>
      
            <br />
            <a class="text-purple-500 hover:text-yellow-500 text-3xl" href="https://bit.ly/38PegH1" target="_blank">
              Burial Records
            </a>
      
            <tr>
              <th class="px-4 py-2">Cemetery</th>
              <th class="px-4 py-2">Address</th>
              <th class="px-4 py-2">Year Opened</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Cheshunt</td>
              <td class="border px-4 py-2">Bullscross Ride</td>
              <td class="border px-4 py-2">1968</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Edmonton</td>
              <td class="border px-4 py-2">Montague Road</td>
              <td class="border px-4 py-2">1889</td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Fulham</td>
              <td class="border px-4 py-2">Fulham Road</td>
              <td class="border px-4 py-2">1815</td>
            </tr>
      
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">Streatham</td>
              <td class="border px-4 py-2">Rowan Road</td>
              <td class="border px-4 py-2">1915</td>
            </tr>
          </tbody>
        </table>
        <br />
        <br />
      </main>

      <Dropdown />
      <div class="mt-72">.</div>
    </section>
  </section>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
