---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/nav/Dropdown.astro";
import Card from "../components/Card.astro";
---

<Layout title="British">
  <section class="text-center bg-teal-200">
    <h1
      class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl"
    >
      <div class="h-10 w-14 inline-block">
        <img
          src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1638864273/webp/uk-flag.webp"
          alt="image of British flag"
        />
      </div>

      British Family History Resourses
    </h1>

    <br />

    <section class="bg-teal-200">
      <main>
        <ul role="list" class="link-card-grid">
          <Card
            href="http://bit.ly/2Xlfsx4"
            title="Archives"
            body="Search the British State Archives."
          />
          <Card
            href="http://bit.ly/2IguCfJ"
            title="B.M.D"
            body="Free birth marriages and death index from 1837 to 1992."
          />
          <Card
            href="https://bit.ly/2UIsK3g"
            title="Children's Homes"
            body="The history of the childrens homes and resourses."
          />
          <Card
            href="https://bit.ly/3poS64b"
            title="Companies House"
            body="Search the register of Companies and directors."
          />
          <Card
            href="http://bit.ly/2FPDJAN"
            title="Electoral Register"
            body="Search the current Electoral Register."
          />
          <Card
            href="http://bit.ly/3dWL43l"
            title="Directories"
            body="Trade and local directories for England and Wales 1766 to 1946"
          />
          <Card
            href="https://bit.ly/3pJKcTe"
            title="Industral Schools"
            body="The history of Industral schools and resourses."
          />
          <Card
          href="https://bit.ly/3IltAN8"
          title="London Convicts"
          body="Search the the records of London Convicts 1780 to 1925."
        />
          <Card
            href="http://bit.ly/2Kio1On"
            title="London Gazette"
            body="The London Gazetteis the UK’s official public record of announcement which includes Naturalization and name changes."
          />
          <Card
            href="http://bit.ly/2IeM6t0"
            title="Newspapers"
            body="British newspaper archive from the 1700s."
          />
          <Card
          href="https://bit.ly/3Gf64yX"
          title="Old Bailey"
          body="Search the old bailey court records 1674 to 1913."
        />
          <Card
            href="http://bit.ly/2rGVfQJ"
            title="R.A.F"
            body="First world war Casualty Cards & Muster Roll"
          />
          <Card
            href="https://bit.ly/32Krtjv"
            title="Royal Navy"
            body="First world war lives at sea search the sailors war records."
          />
          <Card
            href="http://bit.ly/2L2exrF"
            title="War Graves"
            body="Search the records peaple who died in the First and Second World Wars."
          />
          <Card
            href="http://bit.ly/2GfeWTV"
            title="Wills & Probate"
            body="Will and Probate records from 1858 to present Day."
          />
          <Card
            href="https://bit.ly/2UIsK3g"
            title="Workhouse"
            body="The history of the workhouse and resourses."
          />
        </ul>
        <br />
        <h2
          class="ml-8 mt-3 text-center text-purple-500 text-font-sans text-4xl"
        >
          England & Wales 1921, 1939 census returns
        </h2>
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3eTCphk"
            title="1921 Census"
            body="Search the,1921 census returns."
          />
          <Card
            href="http://bit.ly/2IjAKzA"
            title="1939"
            body="Search the 1939 pre war census register also avaliable on Ancestry."
          />
        </ul>
        <br />
        <h3
          class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl"
        >
          <div class="h-10 w-14 inline-block">
            <img
              src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1638878880/webp/scotish-flag.webp"
              alt="image of Scottish flag"
            />
          </div>

          Scottish Family History Resourses
        </h3>
        <br /><br />

        <ul role="list" class="link-card-grid">
          <Card
            href="http://bit.ly/2Z9K2Iz"
            title="Scotland"
            body="Scottish family history records."
          />
        </ul>
        <br /> 
        <h3 class="ml-8 mt-3 text-center text-purple-500 text-font-sans text-4xl">
          London Cemeteries burial records
        </h3>
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="http://bit.ly/403kRpd"
            title="Barking & Dagenham"
            body="Search Cemeteries and Crematorium records"
          />
          <Card
            href="https://bit.ly/3EsfrZc"
            title="Wandsworth"
            body="Search Wandsworth Cemeteries and Crematorium records"
          />
        </ul>
        <br /> 
        <h3 class="ml-8 mt-3 text-center text-purple-500 text-font-sans text-4xl">
          Sheffield
        </h3>
        <br />
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3Q3gkPf"
            title="Sheffield"
            body="Search Sheffield records online"
          />
        </ul>
      </main>

      <Dropdown />
      <div class="mt-72">.</div>
    </section>
  </section>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
