---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/nav/Dropdown.astro";
import Card from "../components/Card.astro";
---

<Layout title="DNA">
  <section class="text-center bg-teal-200">
    <h1
      class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl"
    >
      <div class="h-10 w-14 inline-block">
        <img
          src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1639580261/webp/dna_icon1.webp"
          alt="image of dna icon"
        />
      </div>

      DNA Testing
    </h1>
    <br />

    <section class="bg-teal-200">
      <main>
        <ul role="list" class="link-card-grid">
          <Card
            href="https://bit.ly/3zhhBJm"
            title="Ancestry"
            body="Ancestry DNA Kits."
          />
          <Card
            href="https://bit.ly/30corDh"
            title="DNA Painter"
            body="Interpret your DNA genealogy results."
          />
          <Card
          href="https://bit.ly/3zgGbvn"
          title="DNA Science"
          body="Relationship predictions that use both the number of segments and total cMs."
        />
          <Card
            href="https://bit.ly/38hwD62"
            title="Family Tree"
            body="Family Tree DNA Kits."
          />
          <Card
            href="https://bit.ly/3FsIPA9"
            title="GedMatch"
            body="Comparing DNA to find family matches."
          />
          <Card
            href="https://bit.ly/3gzrrio"
            title="Living"
            body="Living DNA Kits."
          />
          <Card
            href="https://bit.ly/3lIYcwD"
            title="Illatrative"
            body="Interpret your DNA results."
          />
          <Card
            href="https://bit.ly/3DjLWJr"
            title="Myheritage"
            body="Myheritage DNA Kits."
          />
          <Card
            href="https://bit.ly/2WstXQ1"
            title="23 And Me"
            body="23 and Me DNA Kits."
          />
        </ul>
      </main>

      <Dropdown />
      <div class="mt-72">.</div>
    </section>
  </section>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
