---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/nav/Dropdown.astro";
import Card from "../components/Card.astro";
---

<Layout title="Russian">
  <section class="text-center bg-teal-200">
    <h1
      class="ml-8 mt-3 inline-block text-center text-purple-500 text-font-sans text-4xl"
    >
      <div class="h-10 w-14 inline-block">
        <img
          src="https://res.cloudinary.com/dzhbfdfa5/image/upload/c_scale,h_200,w_300/v1638945399/webp/russian-flag.webp"
          alt="image of Russian flag"
        />
      </div>

      Russian Family History Resourses
    </h1>
    <br />

    <section class="bg-teal-200">
      <main>
        <ul role="list" class="link-card-grid">
          <Card
            href="http://bit.ly/2we7uZz"
            title="Cyrillic to Latin"
            body="Convert Cyrillic to Latin."
          />
          <Card
            href="http://bit.ly/2Dz1o6Q"
            title="Family"
            body="Russian surname search."
          />
          <Card
            href="http://bit.ly/2OA2V33"
            title="Forebears"
            body="Russian genealogical records."
          />
          <Card
            href="https://bit.ly/3ttN3Rv"
            title="Leningrad"
            body="Database of the dead and evacuated residents of Leningrad."
          />
          <Card
            href="https://bit.ly/3pdqA9N"
            title="Russian & Ukraine"
            body="Where to find Russian & Ukraine records."
          />
          <Card
            href="http://bit.ly/2HRv8Rh"
            title="Military Awards"
            body="Russian military database of military awards."
          />
          <Card
            href="http://bit.ly/2IcNoUv"
            title="Military Memorial"
            body="Russian military database of war dead."
          />
          <Card
            href="http://bit.ly/3bomxTg"
            title="Soldiers"
            body="Database first world war Russian soldiers."
          />
          <Card
            href="https://bit.ly/36okbzQ"
            title="Soviet Union"
            body="Database of people who received awards 1939 to 1990."
          />
          <Card
            href="https://bit.ly/3rJiGso"
            title="Stalingrad"
            body="Database of military and civilians who were at the battle of Stalingrad.23 August 1942 to 2 February 1943"
          />
          <Card
            href="https://bit.ly/3kh2cAp"
            title="War"
            body="Database Russian Soldier's"
          />
        </ul>
      </main>

      <Dropdown />
      <div class="mt-72">.</div>
    </section>
  </section>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
