---
import Australasia from "./Australasia.astro";
import Caribbean from "./Caribbean.astro";
import Europe from "./Europe.astro";
import Jewish from "./Jewish.astro";
import Northamerica from "./Northamerica.astro";
import Africa from "./Africa.astro";
import General from "./General.astro";
---

<div class="one">
  <br />
  <div class="border-b-4 border-gray-200"></div>
  <br />

  <br />
  <p>
    <Africa />
    <Australasia />
    <Caribbean />
    <Europe />
    <Jewish />
    <Northamerica />
    <General />
  </p>

  <p class="text-gray-700">
    <br />
    Add

    <a
      class="text-red-600 hover:text-yellow-600"
      href="http://bit.ly/2SxWdgt"
      target="_blank"
    >
      google translate
    </a>
    to your browser extensions, to view foreign language web sites.
  </p>
</div>
